[Unit]
Description=Check for AutoLister container updates

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
RandomizedDelaySec=45s
Persistent=true
Unit=autolister-update.service

[Install]
WantedBy=timers.target
